body {
  font-size: 30px;
  margin: 0;
}

button {
  width: 80px;
  height: 40px;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
